* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Will {
  border-radius: 15%;
}

.jumbotron {
  background-image: url("https://media.discordapp.net/attachments/761528621210664980/818536467240452176/polygon-wallpaper-200906153252202048x1152.jpg?width=1279&height=719");
  background-size: cover;
  height: 400px;
}
